form(action="/cart" method="POST")
  input(type="hidden" name="_csrf" value=csrfToken)
  input(type="hidden" name="productId" value=product._id)
  button.btn.btn-success.d-block.w-100(type="submit", value="Submit").text-uppercase Add to Cart

