.section.footer.bg-success
  a.navbar-brand.footer__logo(href='#') 
    h2.navbar-brand__main.text-light MovieNG
  div.footer__main
    div.footer__content
      h4.mb-4
        a(href="/create").text-decoration-none Create Movies
    div.footer__content
      h4.mb-4
        a(href="/search").text-decoration-none Search Movies
    div.footer__content
      h4.mb-4
        a(href="/users").text-decoration-none Manage Users

  div.footer__copyrights.text-center
    p All Rights Reserved
    p Created By: Nati Kamuhser, natan.kamusher@gmail.com


