.section.footer.bg-success
  a.navbar-brand.footer__logo(href='#') 
    h2.navbar-brand__main.text-light Eduactivity
    h2.navbar-brand__secondary.text-light Printables
  div.footer__main
    div.footer__content
      h4 Categories
      ul.list-unstyled
        li
          a(href='#') Cat1
        li
          a(href='#') Cat2
        li
          a(href='#') Cat3
    div.footer__content
      h4 Topics
      ul.list-unstyled
        li
          a(href='#') Topci1
        li
          a(href='#') Topic2
        li
          a(href='#') Topic3
    div.footer__contact
      h4 Contact
      p email: eduactivity@eduactivity.com
  div.footer__copyrights.text-center
    p All Rights Reserved - Eduactivity
    p Created By: Nati Kamuhser


