include ../includes/head
body.container-fluid.p-0.d-flex.flex-column.min-vh-100.bg-primary
  .container
    include ../includes/navbar-primary.pug 
  include ../includes/navbar-secondary.pug
  block content