extends ../templates/container.pug
block content
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  - const createUrl = `/admin/createTopic/`
  - const formAction = `/admin/topics`;
  - const items = categories;
  - const filterBy = "category";
  - const filterGroup = "categories"

  include ../includes/adminPanel

  .topics.my-5
    each topic in topics
      - const displayMode = gallery;
      - const itemType = 'topic';
      - const title = topic.title
      - const description = topic.description
      - const category = topic.category
      - const imageUrl = topic.imageUrl
      - const editUrl = `/admin/editTopic/${topic._id}`
      - const deleteUrl = `/admin/deleteTopic/${topic._id}`

      include ../includes/productCard.pug

  include ../includes/footer