extends ../templates/container.pug
block content
  h1.text-center.my-4
    | Shopping Cart
  main
    if (cart.length > 0) 
      ul.cart__item-list
        each item in cart
          li.cart__item
            h1 #{item.product.title}
            h2 Quantity: #{item.quantity}
            form(action="/cart-delete-item" method="POST")
              input(type="hidden" name="_csrf" value= csrfToken)
              input(type="hidden" value= item.product._id name="productId")
              button.btn.danger(type="submit") 
                span.glyphicon.glyphicon-trash

      hr
      div.text-center
        //- form(action="/create-order" method="POST")
        //-   input(type="hidden" name="_csrf" value= csrfToken)
        //-   button(type="submit").btn Order Now!
        a.btn.btn-success.mx-auto.d-inline-block(href="/checkout") Order Now! 
    else
      h1 
        | No Products in Cart!