extends ../templates/container.pug
block content
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES
  div.categories
    each category in allCategories
      .category.card
        h5.card-title.text-uppercase #{category.title}
        a(href="/shop/category/"+category._id).btn.card-action 
          | Explore Printables
