// Variable overrides
$primary: #f8ef8b;
$secondary: #ff527e;
$success: #158bb3;
$info: #38ceff;
$danger: #b3a91e;

$primary: #fff;
$secondary: #ff9bd8;
$success: #5ed3f9;
$info: #38ceff;
$danger: #efe24c;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "danger": $danger
);