
.admin-form {
    font-size: 1.5rem;
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
      max-width: 35rem
    }
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    min-width: 18rem;
  }