.card {
    max-width: 300px;
    background-color: $secondary;
    padding: 1rem;
    .btn--action {
      background-color: $success;
      color: $light;
      margin-bottom: 1rem;
      text-transform: uppercase;
      display: block;
    }
    .card-title {
      color: $light;
    }
    .card-body {
      padding: 0;
      min-width: 100%;
    }
    .list-group {
      flex-grow: 1;
      align-items: center;
    }
    &__description {
      height: 3rem;
    }
    &__content{
      font-size: 1.5rem;
    }
    
  
    &--category {
      
      border-radius: 1rem;
      background-color: $success;
      display:flex;
      align-items: center;
      color: #fff;
      width: 100%;
      max-width: 15rem ;
       &:hover {
          text-decoration: none;
        }
      .card-body .card-title {
        background: none;
        text-align: center;
        margin:0;
        color: $light;
        font-family: nunito;
        text-transform: uppercase;
      }
    }
  
    &--hello {
      color: dark;
      padding: 1rem;
      .card-title {
        padding: 0;
        color: $light;
        background: none;
      }
    }
    &--product {
      padding: 1rem;
      
      .card-title {
        padding: 0;
        font-family: chewy;
      }
      
      .card-body {
        padding: 0;
      }
      
      .card-text {
        display: none;
        position: absolute;
        top: -30px;
        left: -60px;
        opacity: 90%;;
        width: 50%;
        border-radius: 1rem;
        padding: .5rem
      }
      a.toolTipVisible:hover ~ .alert  {
        visibility: visible !important;
      }
  
      &__price {
        font-size: 1.2em;
        font-weight: bold;
      }
      font-family: nunito;
   
      &:hover {
        .card-text {
          display:block
        }
      }
      .speech-bubble{
        &--product{
          top: -5rem;
          right: -3rem;
          width: 60%;
          visibility: visible;
        }
      }
    }
  }