.categories {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    background-color: $secondary;
    width: 100%;
    @include media-breakpoint-up(sm){
      width: 50%;
    }
    max-width: 30rem;
    border-radius: .5rem;
    .category {
      background-color: $info;
      margin: auto;
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      justify-content: center;
      gap: 1rem;
      text-align: center;
      @include media-breakpoint-up(md) {
      }
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      border: 1px solid $dark;
      border-radius: .5rem;
  
  
      .card-title {
        margin: 0;
        color: $dark;
        flex-basis: 50%;
      }
      .card-action {
        background-color: $secondary;
        border: 1px solid $dark;
        border-radius: .5rem;
      }
    }
}