.dashboard{
    &__options {
      font-size: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      gap: 1rem;
      a.list-group-item {
        color: $light;
        background-color: $success;
      }
    }
  
    
  }