.search {
  &--tooltip {
    position: relative;
    display: inline;
    
  
    span {
        position: absolute;
        width:140px;
        color: #FFFFFF;
        background: $success;
        height: auto;
        line-height: 30px;
        text-align: center;
        visibility: hidden;
        border-radius: 6px;
        padding: .3rem;
        min-width: 17rem;
      &:after {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -8px;
          width: 0; height: 0;
          border-bottom: 8px solid $success;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
      }
    }
    &:hover{
      span {
          visibility: visible;
          opacity: 0.8;
          top: 95%;
          left: 30%;
          margin-left: -76px;
          z-index: 999;
      }  
    }
  }
  &__input {
    font-family: nunito;
    border-width: .2rem;
    padding: 0 1rem;
    box-sizing: border-box !important;
    &::placeholder {
      color: $danger
    }
    color: $danger;
    &:focus {
      color: $success;
    }
  }
}