include ./includes/head
body.container-fluid.p-0.d-flex.flex-column.min-vh-100.bg-primary
  .container
    section.hero(style="flex-direction: column")
      p.hero__text 
        | #{message}
      a.btn.btn-secondary(href="/")
        | Movies