extends ./templates/container.pug
block content
  .container
    section.hero
      p.hero__text 
        | Menu page
    section.container.actions
      div.row
        div.col.col-sm
          a(href="/create").btn.btn-secondary.actions__item Create Movies
        div.col.col-sm
          a(href="/search").btn.btn-secondary.actions__item Search Movies
        div.col.col-sm
          a(href="/edit").btn.btn-secondary.actions__item Edit Users

  include ./includes/footer.pug 

