extends ./templates/container.pug
block content
  h1.text-center.my-4
    | Movies

  form(action="/search").mb-5.border.p-5
    .row.gx-3.justify-content-center.mb-4
      .col-4
        label(for="name", class="form-label") Name
        input(type="text" name="name").form-control#name
      .col-4
        label(for="language", class="form-label") Language
        input(type="text" name="language").form-control#language
      .col-4
        label(for='genres', class="form-label") Genres
        select(name="genres").custom-select#genres.form-control
          option(selected disabled hidden value="") Choose genre...
          option(value="Drame") Drama
          option(value="Comedy") Comedy
          option(value="3") 3
          option(value="4") 4
          option(value="5") 5
    .row.justify-content-center
      .col-3.d-flex.justify-content-center
        button(type="submit").btn.btn-secondary.m-auto Submit
  h2.text-center.my-4 New Movies
  table.table.table-striped
    thead
      tr
        th(scope="col") Movie
        th(scope="col") Related Movies
      tbody
        each movie in newMovies 
          tr
            td
              a(href= `/movie/${movie.id}`)= movie.name
            td
              a(href="#")= movie.name

  h2.text-center.my-4 Movies
  table.table.table-striped
    thead
      tr
        th(scope="col") Movie
        th(scope="col") Related Movies
      tbody
        each movie in movies 
          tr
            td
              a(href="#")= movie.name
            td
              a(href="#")= movie.name
  include ./includes/footer.pug 


