extends ./templates/container.pug
block content
  section.hero
      p.hero__text 
        | Create Movie
  section.container.w-md-25.form-group
    form.row.g-3(action="/create" method="POST")
      .col-12
        label(for="name", class="form-label") Name
        input(type="text" name="name").form-control#name
      .col-12
        label(for="language", class="form-label") Language
        input(type="text" name="language").form-control#language
      .col-12
        .input-group.mb-3
          .input-group-prepend
            label.input-group-text(for='genres') Genres
          select(multiple name="genres").custom-select#genres.form-control
            option(selected) Choose genre...
            option Drama
            option Comedy
            option 3
            option 4
            option 5
      .col-12
        button(type="submit").btn.btn-secondary Create


  include ./includes/footer.pug
