extends ./templates/container.pug
block content
  h1.text-center.my-4
    | Movies

  form.row.g-3(action="/search")
    .col-3
      label(for="name", class="form-label") Name
      input(type="text" name="name").form-control#name
    .col-3
      label(for="language", class="form-label") Language
      input(type="text" name="language").form-control#language
    .col-3
      label(for='genres', class="form-label") Genres
      select(name="genre").custom-select#genres.form-control
        option(selected disabled hidden value="") Choose genre...
        option(value="Drame") Drama
        option(value="Comedy") Comedy
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
    .col-12
      button(type="submit").btn.btn-secondary Submit

  ul
    each movie in movies 
      li= movie.name
        
  include ./includes/footer.pug 


